
/*===========================
  --- Header & menu ----
=========================== */
.navbar {
	line-height: 100px;
	height: 100px;
	background-color: rgba(201,94,12,0.8);
	display: block;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 0;
	padding-bottom:0;
}

.navbar .navbar-collapse {
	margin-bottom: 0;
	padding-bottom:0;
}

.screenshots {
    background-color: rgba(201,94,12,0.8);
}

.nav li {
	height: 100%;
	line-height: 100%;
	margin-bottom: 0;
	padding-bottom:0;
}

.nav>li>a {
	display: table-cell;
	height: 100%;
	line-height: 100%;
	vertical-align: middle;
	color: #fff;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.nav>li>a:hover {
	color: #FFE35B;
	background: none;
}

.navbar-nav {
	float: right;
	margin-bottom: 0;
	padding-bottom:0;
}

.navbar .navbar-nav > .active > a {
	color: #ff0;
}
.navbar .navbar-nav > .active > a {
	padding-bottom: 22px;
}

h1 a.navbar-brand {
    padding-top: 0px;
    margin-top: -10px;
	font-size: 24px;
	color: #FFA500;
	font-weight: 900;
	text-shadow: none;
}

.navbar-brand {
	padding: 0;
	display: table-cell;
	vertical-align: middle;
	line-height: 90px;
}

.navbar-brand img {
	vertical-align: middle;
}

.navbar-toggle {
	padding: 0;
	margin: 0;
	width: 80px;
}

.navbar-collapse.in {
	margin-top: -5px !important;
}

footer {
	line-height: 50px;
	height: 50px;
	background-color: #000;
	display: block;
	vertical-align: middle;
	text-align: left;
	margin-bottom: 0;
	padding-bottom:0;
}

/*===========================
  --- Sections ----
=========================== */

section.section {
	margin:0;
	padding: 40px 0 0 0;
}






section .row {
	padding: 0 0 60px 0;
}

#section-home {
    min-height:600px;
	background-color: #ddd;
    color: #fff;
}

.jumbotron {
    background-color: #ddd;
    color: #000;
    min-height:580px;
    margin-bottom: 0px;
}

#section-home h1,h2,h3 {
	color: #000;
}

#section-home .btn {
    color: #fff;
}

#section-home a {
	color: #FFA500;
}

.text-warning {
	color: #A15734;
}

#section-download {
    min-height:600px;
	color: #fff;
	background-color: #555; /* #fff7cd */
}

#section-download h1 {
	color: #f5a503;
}

#section-download h3 {
	color: #f5a503; /* aeee00 */
}

#section-download a {
	color: #01b0f0;
}



#section-features {
    min-height:600px;
	color: #fff;
	background-color: #333;
}

#section-features h1 {
	color: #0ff; /* ff3588 */
}

#section-features h3 {
	color: #0ff;
}

#section-screenshots {
    min-height:600px;
	color: #fff;
	background-color: #555;
}

#section-screenshots h1 {
	color: #aeee00;
}


#section-contributor {
    min-height:600px;
	color: #fff;
	background-color: #333 ; /* rgba(70,150,255,1) */
}

#section-contributor h1 {
	color: #8000FF;
}

#section-science {
    min-height:600px;
	color: #fff;
	background-color: #555;
}

#section-science h1 {
	color: #ff3588;
}

#section-science h2 {
	color: #ff3588;
}

#section-science h3 {
	color: #ff3588;
}

#section-science .btn {
    color: #fff;
	background-color: #ff3588;
	font-size: 11px;
}

#section-more {
    min-height:100px;
	color: #000;
	background-color: #ddd;
}

#section-more h1 {
	color: #0000FF;
}

/* Tooltp */
.tooltip-inner {
    max-width: 400px;

}

.simplebox {
    color: #000;
    background-color: #fff7cd;
    border-color: #bce8f1;
    border-radius: 10px;
}

.simplebox a {
    color: #01b0f0;
}


/* ==========================
 --- Parallax ---
============================= */


#parallax1{
    min-height:300px;
	color: #000;
    background-color: #f5a503;
	/*background-image: url(../img/parallax01.jpg);*/
	padding-top: 20px;
	padding-bottom:40px;
	position:relative;
}

#parallax1 h1,h2,h3 {
	color: #000;
}

#parallax2 {
    min-height:20px;
	color: #000;
    background-color: #0ff; /* #ff3588 */
	/*background-image: url(../img/photo02.jpg);*/
	/*padding-top: 20px;
	padding-bottom:40px;*/
	position:relative;
}

#parallax2photo {
    min-height:300px;
	color: #000;
    background-color: #8000FF;
	background-image: url(../img/photo02.jpg);
    background-size:   cover;  
	/*background-size: 800px;
	background-repeat: no-repeat;
	background-position: center; */
	position:relative;
}

#parallax3 {
    min-height:300px;
	color: #000;
    background-color: #aeee00;
	/*background-image: url(../img/parallax03.jpg);*/
	padding-top: 20px;
	padding-bottom:40px;
	position:relative;
}

#parallax4 {
    min-height:20px;
	color: #000;
    background-color: #8000FF;
	/*background-image: url(../img/photo01.jpg);
	background-size: 800px;
	background-repeat: no-repeat;
	background-position: center; */
	/*padding-top: 20px;
	padding-bottom:40px;*/
	position:relative;
}

#parallax4photo {
    min-height:300px;
	color: #000;
    background-color: #8000FF;
	background-image: url(../img/photo01.jpg);
    background-size:   cover;
	/*background-size: 800px;
	background-repeat: no-repeat;
	background-position: center; */
	padding-top: 20px;
	//padding-bottom:40px;
	position:relative;
}

#parallax5 {
    min-height:300px;
	color: #000;
    background-color: #ff3588;
	padding-top: 20px;
	padding-bottom:40px;
	position:relative;
}

#parallax6 {
    min-height:300px;
	color: #000;
    background-color: #0000FF;
	padding-top: 20px;
	padding-bottom:40px;
	position:relative;
}

.box {
    position:absolute;
    left:0;
    height:100%;
    background:#09f;
}

/* Move down content because we have an inital navbar that is 100px tall */
body {
  background-color: #000;
  padding-top: 100px;
  padding-bottom: 20px;
}

/* buttons */
.btn {
	border: 1;
	background-color: #A15734; /* #A15734 */
	border-color: #723E27; /* #723E27 */
}

.btn:hover {
	border: 2;
	background-color: #C55A0A; /* #C55A0A */
	border-color: #723E27; /* #723E27 */
}

.in.collapse+a.btn.showdetails:before { 
    content:'Hide details <<';
}
.collapse+a.btn.showdetails:before { 
    content:'Show details >>'; 
}

.table-compare {
	border-spacing: 10px;
    border-collapse: separate;
	background-color: #FFFFFF;
	table-layout: fixed;
    width: 400px;
	float:right;
	margin-left:10px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


.table-compare th {
    overflow: hidden;
    width: 150px;
}

.compare1 {
	color:red;
	text-align:right;
}

.compare2 {
	color:blue;
	text-align:left;
}


