

/*
 * Custom translucent site header
 */

 nav.site-header {
  background-color: rgba(0, 0, 0, .82);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .5);
  -webkit-text-fill-color: rgba(254, 177, 1, 1);
  color: rgba(254, 177, 1, 1);
  font-weight: bold;
}
.navsite-header .nav-button{
  -webkit-text-fill-color: rgba(254, 177, 1, 1);
  color: rgba(254, 177, 1, 1);
  text-decoration: none;
  font-weight: bold;
  transition: ease-in-out color .15s;
}
nav.site-header .nav-button:hover {
  -webkit-text-fill-color: rgba(254, 177, 1, .85);
  color: rgba(254, 177, 1, .85);
  text-decoration: none;
  font-weight: bold;
  border-bottom: 5px solid rgba(254, 177, 1, 1);
}
nav.site-header  a.active {
  color: rgba(254, 177, 1, 1);
  text-decoration: none;
  font-weight: bold;
  border-bottom: 5px solid rgba(254, 177, 1, 1);
}

/* Some custom classes */
.logo{
  border-bottom: none;
}
.testimonial{
  background-color: rgba(254, 177, 1, 1);
}
.text-yellow{
  color: rgba(254, 177, 1, 1);
}
.hidden{
  display:none!important
}
.blue{
  border-bottom: 5px solid rgba(30, 144, 255, 1);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .15);
}
.pink{
  border-bottom: 5px solid rgba(255, 0, 255, 1);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .15);
}
.gold{  
  border-top: 5px solid rgba(254, 177, 1, 1);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .15);
}
.bordergold{
  border: 5px solid rgba(30, 144, 255, 1);
  border-radius: 10px;
  background: rgba(254, 177, 1, 1);
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.parallax1 {
  /* The image used */
  background-image: url(../img/photo02.jpg);
  /* Full height */
  min-height: 550px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  /* The image used */
  background-image: url(../img/photo01.jpg);
  /* Full height */
  min-height: 550px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }

  code{
    border: 3px solid rgba(255, 0, 255, 1);
    border-radius: 10px;
    /*background: rgba(254, 177, 1, 1);*/
    padding: 5px 5px 3px 5px
  }
.tooltip-inner {
    min-width: 150px; /* Set your desired minimum width */
    max-width: 400px; /* Optional: Set a max-width to prevent it from getting too large */
    /*white-space: nowrap;*/ /* Prevent text from wrapping */
}
.table-compare{
  white-space: nowrap; /* Prevent text from wrapping */
}